#container {
    border: 1px black solid;
    background-color: azure;
    margin: 5px;
    padding: 5px:
}

#startPageFlex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
}