.container {
    border: 1px black solid;
    background-color: azure;
    margin: 5px;
    padding: 5px:
}

/* fruit image flexbox */
.startPageFruit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fruitPic{
  flex: 1;
  margin: auto;
  
}

img{
  width: 75%;
  height: 100%;
}
/* End of fruit image flexbox */


h1{
  text-align: center;
  font-family: 'Sen', sans-serif;
}
 
/* start button flex box*/
.start-button-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 50%;
  padding-left: 25%;
  padding-right:0;
}

.start-button{
  justify-content: center;
  flex:1; 
  border:none;
  background-color:#FFF05A ;
  border: black solid 2px;
}
/* start button flex box*/


.startPage{
background-color: #70EE9C;
}

/* css from johnathan */

form label,
form p {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: gray;
    font-family: arial;
}
form input[type="radio"] {
    font-size: 16px;
}
form input[type="radio"]+label {
    display: inline;
    color: #000;
    font-size: 16px;
}
form h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}